---
import Header from "../../components/Header.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Sboonny | blog">
  <Header />
  <h1>This is a section of projects I contributed to.</h1>
  <p>I have been enthusiastic about contributing to opensource, here are the projects I have contributed to.</p>

  <div>
    <h2>Create T3 App</h2>
    <p>I have contributed to create t3 app, by helping with RTL layout and improving the docs and Arabic translation.</p>
    <p>Here is a list of the pull requests:</p>
    <ul>
      <li><a href="https://github.com/t3-oss/create-t3-app/pull/1051">Help with the reverted border in code elements.</a></li>
      <li><a href="https://github.com/t3-oss/create-t3-app/pull/1019">Revert link icon in RTL layout.</a></li>
      <li><a href="https://github.com/t3-oss/create-t3-app/pull/954">Align search modal spacing for RTL.</a></li>
      <li><a href="https://github.com/t3-oss/create-t3-app/pull/988">Align the file structure with the English version.</a></li>
      <li><a href="https://github.com/t3-oss/create-t3-app/pull/1032">Make the reference to create t3 app consistent.</a></li>
      <li><a href="https://github.com/t3-oss/create-t3-app/pulls?q=is%3Apr+author%3ASboonny+is%3Aclosed++proofread">Proofread Arabic</a></li>
    </ul>
  </div>
</Layout>