---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Sboonny | blog">
  <h1>hello blog</h1>
  <a href="/blog/clifford" class="block">clifford</a>
  <a href="/blog/rover" class="block">rover</a>
  <a href="/blog/spot" class="block">spot</a>
</Layout>
