/* layout */
.freecodecamp-img {
  max-width: min(50vw, 25rem);
}

@media (min-width: 45em) {

  .live-demo {
    grid-area: "live";
  }

  .certifications {
    grid-area: "cert";
  }

  .grid-home {
    gap: 1em;
    grid-template-areas:
      'live cert'
      'live cert'
  }
}

/* animation  */

@keyframes header {
  from {
     color: hsl(var(--vivid-tangerine) /.1);
  }
  to {
    color: hsl(var(--dark-purple));
  }
}

.header-animation {
  animation: header 1s ease-in;
  animation-fill-mode: both;
}