/* layout positioning */
.freecodecamp-img {
  max-width: min(55vw, 28rem);
}

@media (min-width: 45em) {
 
  .live-demo {
    grid-area: "live";
  }

  .certifications {
    grid-area: "cert";
  }

  .grid-home {
    gap: 1em;
    grid-template-areas:
      'live cert'
      'live cert'
  }
}

/* Layout styling */
li p {
  text-align: center;
}
h2:first-child::before {
  content: "";
  width: clamp(30vw, 55em ,62.5vw);
  position: absolute;
  height: 2px;
  border-bottom: 2px solid hsL(var(--dark-purple)/.5);
}

@media (min-width: 45em) {
  h2:first-child::before {
    content: "";
    width: clamp(33vw, 90em ,80vw);
    position: absolute;
  
    height: 2px;
    border-bottom: 2px solid red;
  }
}

section a {
  color: hsl(var(--irresistible));
  font-weight: 600;
  text-decoration: none;
  letter-spacing: .6px;
}

 section a:hover, 
 section a:focus {
   color: hsl(var(--vivid-tangerine));
 cursor: pointer;
}


/* animation  */

@keyframes header {
  from {
     color: hsl(var(--vivid-tangerine));
     opacity: 0;
  }
  to {
    color: hsl(var(--dark-purple));
    opacity: 1;
  }
}

@keyframes demo {
  from {
    opacity: 0;
    position: relative;
    left: -150px;
  }
  to {
    opacity: 1;
    position: relative;
    left: 0;
  }
}
@keyframes cert {
  from {
    opacity: 0;
    position: relative;
    bottom: -150px;
  }
  to {
    opacity: 1;
    position: relative;
    bottom: 0;
  }
}
.header-animation {
  animation: header 650ms ease-in;
  animation-fill-mode: both;
}

.live-demo {
  animation: demo 1500ms ease;
}

.certifications {
  animation: cert 1000ms linear;
}

footer {
  animation: header 2000ms ease-out;
}