---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import ThemeIcon from "../components/ThemeIcon.astro";
---

<Layout title="Sboonny Portfolio | Home">
  <ThemeIcon />
  <section class="max-w-7x mx-auto px-4 py-12 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold text-gray-900 dark:text-gray-100">
      Hi, I am Muhammed Mustafa.
    </h1>
    <p class="mt-4 text-lg text-gray-500">
      A front end Developer who solving complex issues with simple solutions.
    </p>
  </section>
</Layout>
