---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Tags from "../components/Tags.astro";
import ThemeIcon from "../components/ThemeIcon.astro";
---

<Layout title="Sboonny Portfolio | Home">
  <ThemeIcon />
  <main
    class="prose-heading:text-slate-900 prose mx-auto mt-8 max-w-7xl px-4 text-slate-800 sm:px-6 lg:px-8 dark:text-slate-400 prose-headings:dark:text-slate-100"
  >
    <h1 class="text-3xl font-bold">Sboonny</h1>
    <p class="mt-4 text-lg">
      A front end Developer who enjoys contributing to open source projects. I
      work mainly with <span class="font-bold text-blue-600">TypeScript</span>
      and <span class="font-bold text-blue-400">React</span>.
    </p>

    <section>
      <h2>About</h2>
      <p>
        I have always wanted to be a programmer, but whatever tools or course I
        used to learn programming, end with my disappointment. Tried to focus on
        business to earn living, but who known that my interaction with business
        will guide me to <a
          class="rounded-sm border-b border-slate-400 font-bold text-slate-900 transition-[border-color] hover:border-slate-600 hover:no-underline dark:text-slate-100 dark:hover:border-slate-50"
          href="https://www.youtube.com/watch?v=Hp1INWuXIgo&pp=ygUaY29mZmVlemlsbGEgZnJlZSBjb2RlIGNhbXA%3D"
          rel="noreferrer noopener"
          target="_blank">freeCodeCamp</a
        >.
      </p>
    </section>
    <div
      class="relative flex gap-2 p-3 hover:bg-slate-200 hover:bg-opacity-10 hover:shadow-sm"
    >
      <span
        class="w-40 break-keep text-stone-700 opacity-80 after:w-full after:text-slate-100 lg:w-28 dark:text-stone-300"
        >2022-SEP 2023</span
      >
      <div>
        <a
          class="rounded-sm border-b border-slate-400 font-bold text-slate-900 transition-[border-color] before:absolute before:inset-0 before:h-full before:w-full hover:border-slate-600 hover:no-underline dark:text-slate-100 dark:hover:border-slate-50"
          href="https://www.freecodecamp.org/"
          target="_blank"
          rel="noopener noreferrer">Frontend Dev - freeCodeCamp</a
        >
        <p>
          I previously worked on freeCodeCamp as a maintainer, my focus was
          clearing the front end tasks there.
        </p>
      </div>
    </div>
    <section>
      <h2 class="my-12 text-2xl font-bold">
        Projects that I worked on with others 🤝.
      </h2>
      <div class="grid-cols-fit grid gap-3">
        <div class="relative bg-slate-700 p-5 shadow-lg">
          <a
            href="https://github.com/freeCodeCamp/chapter/pulls?q=is%3Apr+author%3ASboonny"
            class="text-slate-300 before:absolute before:inset-0 before:h-full before:w-full hover:text-slate-400 hover:no-underline dark:text-slate-100"
            target="_blank"
            rel="noopener noreferrer">Chapter</a
          >
          <p class="mb-0 text-slate-300">
            I was lucky to have worked in chapter with awesome collages, and
            talented individuals who contributed to that codebase.
          </p>
          <Tags
            tags={[
              "TypeScript",
              "NextJS",
              "React",
              "Prisma",
              "Chakra UI",
              "GraphQL",
              "Apollo",
            ]}
          />
        </div>

        <div class="relative bg-slate-700 p-5 shadow-lg">
          <a
            href="https://github.com/freeCodeCamp/freeCodeCamp/pulls?q=is%3Apr+author%3ASboonny+"
            class="text-slate-300 before:absolute before:inset-0 before:h-full before:w-full hover:text-slate-400 hover:no-underline dark:text-slate-100"
            target="_blank"
            rel="noopener noreferrer">freeCodeCamp</a
          >
          <p class="text-slate-300">
            an open source community that helps you learn to code, build
            projects, and earn certifications.
          </p>
          <Tags
            tags={[
              "TypeScript",
              "Gasby",
              "React",
              "Prisma",
              "Fastify",
              "Tailwind",
            ]}
          />
        </div>
      </div>
      <h3>Note worthy PRs:</h3>
      <ul>
        <li>
          Worked on <a
            class="rounded-sm border-b border-slate-400 text-slate-700 transition-[border-color] hover:border-slate-600 hover:text-slate-500 hover:no-underline dark:text-slate-100 dark:hover:border-slate-50"
            href="https://github.com/freeCodeCamp/chapter/pull/2301"
            target="_blank"
            rel="noopener noreferrer">implementing search function</a
          > using React `useState` as state management.
        </li>
        <li>
          Paired on fixing loading of the data bug in the homepage, and <a
            class="rounded-sm border-b border-slate-400 text-slate-700 transition-[border-color] hover:border-slate-600 hover:text-slate-500 hover:no-underline dark:text-slate-100 dark:hover:border-slate-50"
            href="https://github.com/freeCodeCamp/chapter/pull/2340"
            target="_blank"
            rel="noopener noreferrer">removed the extra query</a
          >.
        </li>
        <li>
          Worked on making chapter responsive, you can check it by running a <a
            class="rounded-sm border-b border-slate-400 text-slate-700 transition-[border-color] hover:border-slate-600 hover:text-slate-500 hover:no-underline dark:text-slate-100 dark:hover:border-slate-50"
            href="https://gitpod.io/#https://github.com/freeCodeCamp/chapter"
            target="_blank"
            rel="noopener noreferrer">Gitpod</a
          > instance.
        </li>
        <li>
          Worked on <a
            class="rounded-sm border-b border-slate-400 text-slate-700 transition-[border-color] hover:border-slate-600 hover:text-slate-500 hover:no-underline dark:text-slate-100 dark:hover:border-slate-50"
            href="https://github.com/freeCodeCamp/freeCodeCamp/pull/50286"
            rel="noopener noreferrer">Restful API, and implemented test</a
          > for it.
        </li>
        <li>
          Helped with rewrite of the old API to a <a
            class="rounded-sm border-b border-slate-400 text-slate-700 transition-[border-color] hover:border-slate-600 hover:text-slate-500 hover:no-underline dark:text-slate-100 dark:hover:border-slate-50"
            href="https://github.com/freeCodeCamp/freeCodeCamp/pulls?q=is%3Apr+label%3A%22platform%3A+api%22+author%3ASboonny+is%3Aclosed"
            target="_blank"
            rel="noopener noreferrer">Fastify</a
          > based one.
        </li>
      </ul>
    </section>
    <section>
      <h2 class="text-slate-900 dark:text-slate-100">
        Project I like, and have contributed to
      </h2>

      <div>
        <h3 class="text-slate-900 dark:text-slate-100">Create T3 App</h3>
        <p>
          I like this project, because of how easy it makes my life, when
          creating a quick project for my friends or in freelance projects.
        </p>
        <ul>
          <li>
            <a
              class="rounded-sm border-b border-slate-400 font-bold text-slate-900 transition-[border-color] hover:border-slate-600 hover:no-underline dark:text-slate-100 dark:hover:border-slate-50"
              href="https://github.com/t3-oss/create-t3-app/pull/1051"
              >Reverted border.</a
            >
          </li>
          <li>
            <a
              class="rounded-sm border-b border-slate-400 font-bold text-slate-900 transition-[border-color] hover:border-slate-600 hover:no-underline dark:text-slate-100 dark:hover:border-slate-50"
              href="https://github.com/t3-oss/create-t3-app/pull/1019"
              >Reverted link icon.</a
            >
          </li>
          <li>
            <a
              class="rounded-sm border-b border-slate-400 font-bold text-slate-900 transition-[border-color] hover:border-slate-600 hover:no-underline dark:text-slate-100 dark:hover:border-slate-50"
              href="https://github.com/t3-oss/create-t3-app/pull/954"
              >Align search modal spacing.</a
            >
          </li>
          <li>
            <a
              class="rounded-sm border-b border-slate-400 font-bold text-slate-900 transition-[border-color] hover:border-slate-600 hover:no-underline dark:text-slate-100 dark:hover:border-slate-50"
              href="https://github.com/t3-oss/create-t3-app/pull/988"
              >Align the file structure.</a
            >
          </li>
          <li>
            <a
              class="rounded-sm border-b border-slate-400 font-bold text-slate-900 transition-[border-color] hover:border-slate-600 hover:no-underline dark:text-slate-100 dark:hover:border-slate-50"
              href="https://github.com/t3-oss/create-t3-app/pull/1032"
              >Consistent Create T3 App reference.</a
            >
          </li>
          <li>
            <a
              class="rounded-sm border-b border-slate-400 font-bold text-slate-900 transition-[border-color] hover:border-slate-600 hover:no-underline dark:text-slate-100 dark:hover:border-slate-50"
              href="https://github.com/t3-oss/create-t3-app/pulls?q=is%3Apr+author%3ASboonny+is%3Aclosed++proofread"
              >Proofread Arabic translation</a
            >
          </li>
        </ul>
      </div>
    </section>
    <!--
// v0 by Vercel.
// https://v0.dev/t/ujV3WmhXoSx
-->
  </main>
  <footer class="bg-white py-4 dark:bg-slate-700 flex sm:flex-col lg:flex-row">
    <form action="/contact" method="POST" class="ml-auto sm:mr-auto lg:mr-0 my-4 max-w-6xl w-full">
      <fieldset class="unset flex flex-col rounded-lg mx-4">
        <legend class="mt-0 pt-0 text-2xl font-semibold tracking-tight"
          >Contact me</legend
        ><p class="mt-0 pt-0 text-sm opacity-70">
          Please fill out the form below and I will get back to you as soon as
          possible.
        </p>
        <div class="grid grid-cols-2 gap-4 py-2">
          <div class="space-y-2">
            <label
              class="text-slate-700f text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
              for="first-name">First Name</label
            ><input
              class="border-input bg-background ring-offset-background placeholder:text-muted-foreground focus-visible:ring-ring flex h-10 w-full rounded-md border px-3 py-2 text-sm file:border-0 file:bg-transparent file:text-sm file:font-medium focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
              id="first-name"
              placeholder="Enter your first name"
            />
          </div>
          <div class="space-y-2">
            <label
              class="text-slate-700f text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
              for="last-name">Last Name</label
            ><input
              class="border-input bg-background ring-offset-background placeholder:text-muted-foreground focus-visible:ring-ring flex h-10 w-full rounded-md border px-3 py-2 text-sm file:border-0 file:bg-transparent file:text-sm file:font-medium focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
              id="last-name"
              placeholder="Enter your last name"
            />
          </div>
        </div>
        <div class="space-y-2">
          <label
            class="text-slate-700f text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
            for="email">Email Address</label
          ><input
            class="border-input bg-background ring-offset-background placeholder:text-muted-foreground focus-visible:ring-ring flex h-10 w-full rounded-md border px-3 py-2 text-sm file:border-0 file:bg-transparent file:text-sm file:font-medium focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
            id="email"
            placeholder="Enter your email"
            type="email"
          />
        </div>
        <div class="space-y-2 py-2">
          <label
            class="text-slate-700f text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
            for="message">Message</label
          ><textarea
            class="border-input bg-background ring-offset-background placeholder:text-muted-foreground focus-visible:ring-ring flex min-h-[100px] w-full rounded-md border px-3 py-2 text-sm focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
            id="message"
            placeholder="Enter your message"></textarea>
        </div>
        <button
          class="ring-offset-background focus-visible:ring-ring hover:bg-primary/90 mt-4 inline-flex h-10 w-full items-center justify-center space-y-3 rounded-md bg-black px-4 py-2 text-sm font-medium text-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 dark:bg-slate-50 dark:text-black"
          >Submit</button
        >
      </fieldset>
    </form>
    <a
      href="https://github.com/Sboonny/portfolio"
      target="_blank"
      rel="noopener noreferrer"
      title="navigate to portoflio GitHub repository"
      class="mr-auto sm:ml-auto lg:ml-0 mt-4"
      ><span class="sr-only">navigate to portoflio GitHub repository</span><svg
        viewBox="0 0 256 250"
        width="56"
        height="56"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="xMidYMid"
        aria-hidden="true"
        fill="currentColor"
        ><path
          d="M128.001 0C57.317 0 0 57.307 0 128.001c0 56.554 36.676 104.535 87.535 121.46 6.397 1.185 8.746-2.777 8.746-6.158 0-3.052-.12-13.135-.174-23.83-35.61 7.742-43.124-15.103-43.124-15.103-5.823-14.795-14.213-18.73-14.213-18.73-11.613-7.944.876-7.78.876-7.78 12.853.902 19.621 13.19 19.621 13.19 11.417 19.568 29.945 13.911 37.249 10.64 1.149-8.272 4.466-13.92 8.127-17.116-28.431-3.236-58.318-14.212-58.318-63.258 0-13.975 5-25.394 13.188-34.358-1.329-3.224-5.71-16.242 1.24-33.874 0 0 10.749-3.44 35.21 13.121 10.21-2.836 21.16-4.258 32.038-4.307 10.878.049 21.837 1.47 32.066 4.307 24.431-16.56 35.165-13.12 35.165-13.12 6.967 17.63 2.584 30.65 1.255 33.873 8.207 8.964 13.173 20.383 13.173 34.358 0 49.163-29.944 59.988-58.447 63.157 4.591 3.972 8.682 11.762 8.682 23.704 0 17.126-.148 30.91-.148 35.126 0 3.407 2.304 7.398 8.792 6.14C219.37 232.5 256 184.537 256 128.002 256 57.307 198.691 0 128.001 0Zm-80.06 182.34c-.282.636-1.283.827-2.194.39-.929-.417-1.45-1.284-1.15-1.922.276-.655 1.279-.838 2.205-.399.93.418 1.46 1.293 1.139 1.931Zm6.296 5.618c-.61.566-1.804.303-2.614-.591-.837-.892-.994-2.086-.375-2.66.63-.566 1.787-.301 2.626.591.838.903 1 2.088.363 2.66Zm4.32 7.188c-.785.545-2.067.034-2.86-1.104-.784-1.138-.784-2.503.017-3.05.795-.547 2.058-.055 2.861 1.075.782 1.157.782 2.522-.019 3.08Zm7.304 8.325c-.701.774-2.196.566-3.29-.49-1.119-1.032-1.43-2.496-.726-3.27.71-.776 2.213-.558 3.315.49 1.11 1.03 1.45 2.505.701 3.27Zm9.442 2.81c-.31 1.003-1.75 1.459-3.199 1.033-1.448-.439-2.395-1.613-2.103-2.626.301-1.01 1.747-1.484 3.207-1.028 1.446.436 2.396 1.602 2.095 2.622Zm10.744 1.193c.036 1.055-1.193 1.93-2.715 1.95-1.53.034-2.769-.82-2.786-1.86 0-1.065 1.202-1.932 2.733-1.958 1.522-.03 2.768.818 2.768 1.868Zm10.555-.405c.182 1.03-.875 2.088-2.387 2.37-1.485.271-2.861-.365-3.05-1.386-.184-1.056.893-2.114 2.376-2.387 1.514-.263 2.868.356 3.061 1.403Z"
          ></path></svg
      ></a
    >
  </footer>
</Layout>
