---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Sboonny Portfolio | Home">
  <Header />
  <main class="mx-auto mt-8 max-w-7xl px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold text-gray-900 dark:text-gray-100">
      Hi, I am Muhammed Mustafa.
    </h1>
    <p class="mt-4 text-lg text-gray-500">
      A front end Developer who enjoy contributing to open source projects. I
      work mainly with <span class="font-bold text-blue-600 shadow-sm"
        >TypeScript</span
      > and <span class="font-bold text-blue-400 shadow-sm">React</span>.
    </p>
  </main>
</Layout>
