---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sboonny Portfolio | Home">
  <section>
    <h1>Hi, I am Muhammed Mustafa.</h1>
    <p>A front end Developer who solving complex issues with simple solutions.</p>
	<video autoplay loop muted playsinline>
	<source  src="/video/type-fix.mp4" type="video/mp4">
	</video>
  </section>
</Layout>
