---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Sboonny Portfolio | Home">
  <Header />
  <main
    class="prose mx-auto mt-8 max-w-7xl px-4 text-slate-800 dark:text-slate-400 sm:px-6 lg:px-8"
  >
    <h1 class="text-3xl font-bold text-gray-900 dark:text-gray-100">Sboonny</h1>
    <p class="mt-4 text-lg">
      A front end Developer who enjoys contributing to open source projects. I
      work mainly with <span class="font-bold text-blue-600">TypeScript</span>
       and <span class="font-bold text-blue-400">React</span>.
    </p>

    <section>
      <h2 class="dark:text-gray-100">About</h2>
      <p>
        I have always wanted to be a programmer, but whatever tools or course I
        used to learn programming, end with my disappointment. Tried to focus on
        business to earn living, but who known that my interaction with business
        will guide me to <a
          class="rounded-sm border-b border-gray-400 font-bold text-gray-900 transition-[border-color] hover:border-gray-50 hover:no-underline dark:text-gray-100"
          href="https://www.youtube.com/watch?v=Hp1INWuXIgo&pp=ygUaY29mZmVlemlsbGEgZnJlZSBjb2RlIGNhbXA%3D"
          rel="noreferrer noopener"
          target="_blank">freeCodeCamp</a
        >.
      </p>
    </section>
    <div class="relative grid">
      <span
        class="text-stone-700 opacity-80 after:w-full after:text-gray-100 dark:text-stone-300"
        >2022-SEP 2023</span
      ><a
        class="rounded-sm border-b border-gray-400 font-bold text-gray-900 transition-[border-color] hover:border-gray-50 hover:no-underline dark:text-gray-100"
        href="https://www.freecodecamp.org/"
        target="_blank"
        rel="noopener noreferrer">Frontend Dev - freeCodeCamp</a
      >
      <p>
        I previously worked on freeCodeCamp as a maintainer, my focus was
        clearing the front end tasks there.
      </p>
    </div>
    <section>
      <h2 class="my-12 text-2xl font-bold text-gray-900 dark:text-gray-100">
        Projects that I worked on with others 🤝.
      </h2>

      <div class="bg-gray-700 p-5 shadow-lg">
        <p class="text-gray-300">
          <a
            href=""
            class="rounded-sm border-b border-gray-400 text-gray-300 transition-[border-color] hover:border-gray-50 hover:text-gray-400 hover:no-underline dark:text-gray-100"
            >Chapter</a
          >, I was lucky to have worked in chapter with awesome collages, and
          talented individuals who contributed to that codebase.
        </p>

        <details class="text-purple-200">
          <summary>About</summary>
           Chapter was an attempt to build a meet up platform, that you can
          self-host through a Docker container Docker and deploy to the cloud
          with a one-click and then configured. No coding required.
        </details>
      </div>

      <div class="bg-gray-700 p-5 shadow-lg">
        <p class="text-gray-300">
          <a
            href=""
            class="rounded-sm border-b border-gray-400 text-gray-300 transition-[border-color] hover:border-gray-50 hover:text-gray-400 hover:no-underline dark:text-gray-100"
            >freeCodeCamp</a
          >, an open source community that helps you learn to code, build
          projects, and earn certifications.
        </p>

        <details class="text-purple-200">
          <summary>About</summary>
           freeCodeCamp is a non-profit organization that consists of an
          interactive learning web platform, an online community forum, chat
          rooms, Medium publications, and local organizations that intend to
          make learning web development accessible to anyone.
        </details>
      </div>

      <ul>
        <li>
          Worked on <a
            class="rounded-sm border-b border-gray-400 text-gray-700 transition-[border-color] hover:border-gray-50 hover:text-gray-500 hover:no-underline dark:text-gray-100"
            href="https://github.com/freeCodeCamp/chapter/pull/2301"
            target="_blank"
            rel="noopener noreferrer">implementing search function</a
          > using React `useState` as state management.
        </li>
        <li>
          Paired on fixing loading of the data bug in the homepage, and <a
            class="rounded-sm border-b border-gray-400 text-gray-700 transition-[border-color] hover:border-gray-50 hover:text-gray-500 hover:no-underline dark:text-gray-100"
            href="https://github.com/freeCodeCamp/chapter/pull/2340"
            target="_blank"
            rel="noopener noreferrer">removed the extra query</a
          >.
        </li>
        <li>
          Worked on making chapter responsive, you can check it by running a <a
            class="rounded-sm border-b border-gray-400 text-gray-700 transition-[border-color] hover:border-gray-50 hover:text-gray-500 hover:no-underline dark:text-gray-100"
            href="https://gitpod.io/#https://github.com/freeCodeCamp/chapter"
            target="_blank"
            rel="noopener noreferrer">Gitpod</a
          > instance.
        </li>
        <li>
          Worked on <a
            class="rounded-sm border-b border-gray-400 text-gray-700 transition-[border-color] hover:border-gray-50 hover:text-gray-500 hover:no-underline dark:text-gray-100"
            href="https://github.com/freeCodeCamp/freeCodeCamp/pull/50286"
            rel="noopener noreferrer">Restful API, and implemented test</a
          > for it.
        </li>
        <li>
          Helped freeCodeCamp issue by implementing <a
            class="rounded-sm border-b border-gray-400 text-gray-700 transition-[border-color] hover:border-gray-50 hover:text-gray-500 hover:no-underline dark:text-gray-100"
            href="https://github.com/freeCodeCamp/freeCodeCamp/pulls?q=is%3Apr+author%3ASboonny+is%3Aclosed+"
            >small pull requests</a
          > that solves issue in small steps.
        </li>
        <li>
          Helped with rewrite of the old API to a <a
            class="rounded-sm border-b border-gray-400 text-gray-700 transition-[border-color] hover:border-gray-50 hover:text-gray-500 hover:no-underline dark:text-gray-100"
            href="https://github.com/freeCodeCamp/freeCodeCamp/pulls?q=is%3Apr+label%3A%22platform%3A+api%22+author%3ASboonny+is%3Aclosed"
            target="_blank"
            rel="noopener noreferrer">Fastify</a
          > based one.
        </li>
      </ul>
    </section>
    <section>
      <h2>Project I like, and have contributed to</h2>

      <div>
        <h2>Create T3 App</h2>
        <p>
          I like this project, because of how easy it makes my life, when creating a quick project for my friends or in freelance projects.
        </p>
        <ul>
          <li>
            <a
              class="rounded-sm border-b border-gray-400 font-bold text-gray-900 transition-[border-color] hover:border-gray-50 hover:no-underline dark:text-gray-100"
              href="https://github.com/t3-oss/create-t3-app/pull/1051"
              >Reverted border.</a
            >
          </li>
          <li>
            <a
              class="rounded-sm border-b border-gray-400 font-bold text-gray-900 transition-[border-color] hover:border-gray-50 hover:no-underline dark:text-gray-100"
              href="https://github.com/t3-oss/create-t3-app/pull/1019"
              >Reverted link icon.</a
            >
          </li>
          <li>
            <a
              class="rounded-sm border-b border-gray-400 font-bold text-gray-900 transition-[border-color] hover:border-gray-50 hover:no-underline dark:text-gray-100"
              href="https://github.com/t3-oss/create-t3-app/pull/954"
              >Align search modal spacing.</a
            >
          </li>
          <li>
            <a
              class="rounded-sm border-b border-gray-400 font-bold text-gray-900 transition-[border-color] hover:border-gray-50 hover:no-underline dark:text-gray-100"
              href="https://github.com/t3-oss/create-t3-app/pull/988"
              >Align the file structure.</a
            >
          </li>
          <li>
            <a
              class="rounded-sm border-b border-gray-400 font-bold text-gray-900 transition-[border-color] hover:border-gray-50 hover:no-underline dark:text-gray-100"
              href="https://github.com/t3-oss/create-t3-app/pull/1032"
              >Consistent Create T3 App reference.</a
            >
          </li>
          <li>
            <a
              class="rounded-sm border-b border-gray-400 font-bold text-gray-900 transition-[border-color] hover:border-gray-50 hover:no-underline dark:text-gray-100"
              href="https://github.com/t3-oss/create-t3-app/pulls?q=is%3Apr+author%3ASboonny+is%3Aclosed++proofread"
              >Proofread Arabic translation</a
            >
          </li>
        </ul>
      </div>
    </section>
  </main>
</Layout>
