---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Sboonny Portfolio | Home">
  <Header />
  <main class="mx-auto mt-8 max-w-7xl px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold text-gray-900 dark:text-gray-100">
      Hi, I am Muhammed Mustafa.
    </h1>
    <p class="mt-4 text-lg text-gray-500">
      A front end Developer who enjoy contributing to open source projects. I
      work mainly with <span class="font-bold text-blue-600">TypeScript</span>
       and <span class="font-bold text-blue-400">React</span>.
    </p>
    <div class="relative">
      <span>2022-SEP 2023</span><a href="https://www.freecodecamp.org/" target="_blank" rel="noopener noreferrer">Frontend Dev - freeCodeCamp</a>
    <p>
      I previously worked on freeCodeCamp as a maintainer, my focus was clearing the front end tasks there. 
    </p>
  </div>
    <section>
      <h2 class="my-12 text-2xl font-bold text-gray-900 dark:text-gray-100">
        Projects that I worked on with others 🤝.
      </h2>

      <div class="bg-gray-700 p-5 shadow-lg">
        <a
          href=""
          class="rounded-md text-gray-300 shadow-sm dark:text-gray-100"
          ><span class="sr-only">Check</span>Chapter
        </a>

        <p class="text-gray-300">
          I was lucky to have worked in chapter with awesome collages, and
          talented individuals who contributed to that codebase.
        </p>

        <details class="text-purple-200">
          <summary>About</summary>
          Chapter was an attempt to build a meet up platform, that you can
          self-host through a Docker container Docker and deploy to the cloud
          with a one-click and then configured. No coding required.
        </details>
      </div>

      <div class="bg-gray-700 p-5 shadow-lg">
        <a
          href=""
          class="rounded-md text-gray-300 shadow-sm dark:text-gray-100"
          ><span class="sr-only">Check</span>freeCodeCamp
        </a>

        <p class="text-gray-300">
          I contributed to freeCodeCamp, an open source community that helps you learn to code, build projects, and earn certifications.
        </p>

        <details class="text-purple-200">
          <summary>About</summary>
          freeCodeCamp is a non-profit organization that consists of an interactive learning web platform, an online community forum, chat rooms, Medium publications, and local organizations that intend to make learning web development accessible to anyone.
        </details>
      </div>
    </section>
  </main>
</Layout>

      
    </section>
  </main>
</Layout>
