---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sboonny Portfolio | Home">
  <section class="mx-auto max-w-7xl bg-gray-100 px-4 py-12 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold text-gray-900">Hi, I am Muhammed Mustafa.</h1>
    <p class="mt-4 text-lg text-gray-500">
      A front end Developer who solving complex issues with simple solutions.
    </p>
  </section>
</Layout>
