<header>
  <nav>
    <ul
      id="primary-navigation"
    >
      <li>
        <a href="./loa">LOA</a>
      </li>
      <li>
        <a href="./contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>
