---
const expanded = false;
---

<header>
  <button>
    <span class="sr-only" aria-expanded={expanded} role="button">Menu</span>
  </button>
  <nav>
    <ul
      id="primary-navigation"
      data-visible={expanded}
      class="primary-navigation underline-indicators flex"
    >
      <li>
        <a href="./loa"><span aria-hidden="true">01</span>LOA</a>
      </li>
    </ul>
  </nav>
</header>
