---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<a href="#main">Skip to content</a>
	<header>
		<div>
		  <img
			src="./assets/shared/logo.svg"
			alt="space tourism logo"
		  />
		</div>
		<button aria-controls="primary-navigation">
		  <span class="sr-only" aria-expanded="false" role="button">Menu</span>
		</button>
		<nav>
		  <ul
			id="primary-navigation"
			data-visible="false"
			class="primary-navigation underline-indicators flex"
		  >
			<li>
			  <a
				class="ff-sans-cond uppercase text-white letter-spacing-2"
				href="index.html"
				><span aria-hidden="true">00</span>Home</a
			  >
			</li>
			<li>
			  <a
				class="ff-sans-cond uppercase text-white letter-spacing-2"
				href="destination.html"
				><span aria-hidden="true">01</span>Destination</a
			  >
			</li>
			<li>
			  <a
				class="ff-sans-cond uppercase text-white letter-spacing-2"
				href="crew.html"
				><span aria-hidden="true">02</span>Crew</a
			  >
			</li>
			<li>
			  <a
				class="ff-sans-cond uppercase text-white letter-spacing-2"
				href="technology.html"
				><span aria-hidden="true">03</span>Technology</a
			  >
			</li>
		  </ul>
		</nav>
	  </header>
		<slot />
	</body>
</html>
